<%= stylesheet_link_tag "cartridge_model" %>
<%= javascript_include_tag "main" %>
<%= javascript_include_tag "cartridge_model" %>


<div class="panel panel-info">

  <div class="panel-heading">
    <div class="panel-title">
      Модели картриджей
      <a class="btn btn-primary btn-sm pull-right" role="button" data-toggle="modal" data-target="#mCartridgeModelNew" onclick="cartridge_model_new_show()"><span class="glyphicon glyphicon-plus"></span></a>

      <div id="pager" class="pager  pull-right" style="margin:0px; border:0px; padding:0px; width:700px;">
        <form>
          <%= image_tag "first.png", :class => "first" %>
          <%= image_tag "prev.png", :class => "prev" %>
          <input type="text" class="pagedisplay"/>
          <%= image_tag "next.png", :class => "next" %>
          <%= image_tag "last.png", :class => "last" %>
          <select class="pagesize">
            <option selected="selected"  value="20">20</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="200">200</option>
          </select> Rows
        </form>
      </div>

    </div>
    <div class="clearfix"></div>
  </div>

  <div class="panel-body">

    <table class="table table-bordered table-condensed tablesorter" id="tbl_cartridge_models" name="tbl_cartridge_models">
      <thead>

      <tr>
        <th class="first-name col-md-1">#</th>
        <th data-placeholder="" class="filter-match col-md-1">Код</th>
        <th data-placeholder="" class="filter-match col-md-1">Кр. код</th>
        <th data-placeholder="" class="filter-match col-md-1">Ресурс</th>
        <th data-placeholder="" class="filter-match col-md-7">Комментарий</th>
        <th data-placeholder="" class="filter-match col-md-1"></th>
      </tr>

      </thead>
      <tbody>
      <% @form_data[:cartridge_models].each.with_index do |cartridge_model, index| %>
          <tr id="r_<%= cartridge_model.id %>">
            <td><%= cartridge_model.id %></td>
            <td><%= cartridge_model.model %></td>
            <td><%= cartridge_model.model_code%></td>
            <td><%= cartridge_model.resource%></td>
            <td><%= cartridge_model.comment%></td>
            <td>
              <button type="button" class="btn btn-primary btn-xs" onclick="cartridge_model_edit_show(<%= cartridge_model.id %>)" data-toggle="modal" data-target="#mCartridgeModelEdit"><i class="glyphicon glyphicon-edit"></i></button>
              <button type="button" class="btn btn-danger btn-xs" onclick="cartridge_model_delete(<%= cartridge_model.id %>)"><i class="glyphicon glyphicon-trash"></i></button>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>

  </div>

</div>

<div id="cartridge_model_new_dialog"></div>
<div id="cartridge_model_edit_dialog"></div>
