<div class="modal fade" id="mCartridgeModelEdit" tabindex="-1" role="dialog" aria-labelledby="mCartridgeModelNew" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="mCartridgeModelEditLabel">Редактировать модель картриджа</h4>
      </div>
      <div class="modal-body">

        <form class="form-horizontal" role="form" id="cartridge_model_edit" name="cartridge_model_edit">
            <fieldset>
              <input type="hidden" class="form-control" id="cartridge_model_id" name="cartridge_model_id" value="<%= @form_data[:cartridge_model].id %>">

              <div class="form-group">
                <label for="cartridge_model_model" class="col-sm-2 control-label">Полный код</label>
                <div class="col-sm-3">
                  <input type="text" class="form-control" id="cartridge_model_model" name="cartridge_model_model" placeholder="Полный код" value="<%= @form_data[:cartridge_model].model %>">
                </div>
              </div>

              <div class="form-group">
                <label for="cartridge_model_model_code" class="col-sm-2 control-label">Сокр. код</label>
                <div class="col-sm-3">
                  <input type="text" class="form-control" id="cartridge_model_model_code" name="cartridge_model_model_code" placeholder="Сокр. код" value="<%= @form_data[:cartridge_model].model_code %>">
                </div>
              </div>

              <div class="form-group">
                <label for="cartridge_model_resource" class="col-sm-2 control-label">Ресурс</label>
                <div class="col-sm-3">
                  <input type="text" class="form-control" id="cartridge_model_resource" name="cartridge_model_resource" placeholder="Ресурс" value="<%= @form_data[:cartridge_model].resource %>">
                </div>
              </div>

              <div class="form-group">
                <label for="cartridge_model_comment" class="col-sm-2 control-label">Комментарий</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="cartridge_model_comment" name="cartridge_model_comment" placeholder="Комментарий" value="<%= @form_data[:cartridge_model].comment %>">
                </div>
              </div>

            </fieldset>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success" onclick="cartridge_model_edit_save()">Сохранить</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
          </div>
        </form>

      </div>
    </div>
  </div><
</div>