<%= javascript_include_tag "main" %>
<%= javascript_include_tag "territory" %>

<div class="panel panel-info">

  <div class="panel-heading">
    <div class="panel-title">
      Территории, здания
      <a class="btn btn-primary btn-xs pull-right" role="button" data-toggle="modal" data-target="#mTerritoryNew" onclick="territory_new_show()"><span class="glyphicon glyphicon-plus"></span></a>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="panel-body">

    <div id="pager" class="pager" style="margin-top: -10px; margin-bottom: 5px;">
      <form>
        <%= image_tag "first.png", :class => "first" %>
        <%= image_tag "prev.png", :class => "prev" %>
        <input type="text" class="pagedisplay"/>
        <%= image_tag "next.png", :class => "next" %>
        <%= image_tag "last.png", :class => "last" %>
        <select class="pagesize">
          <option selected="selected"  value="20">20</option>

          <option value="50">50</option>
          <option value="100">100</option>
          <option  value="200">200</option>
        </select> Rows
      </form>
    </div>

    <table class="table table-bordered table-condensed tablesorter" id="tbl_territories" name="tbl_territories">
      <thead>
      <tr>
        <th class="col-md-1">#</th>
        <th>Наименование</th>
        <th>Адрес</th>
        <th class="col-md-1">Действия</th>
      </tr>
      </thead>
      <tbody>
      <% @form_data[:territories].each.with_index do |territory, index| %>
          <tr id="t_<%= territory.id %>">
            <td><%= territory.id %></td>
            <td><%= territory.name %></td>
            <td><%= territory.address%></td>
            <td>
              <a href="#" type="button" class="btn btn-primary btn-xs"><i class="glyphicon glyphicon-edit"></i></a>
              <a href="#" type="button" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-trash"></i></a>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>

  </div>

</div>

<div id="territory_new_dialog"></div>
